<h1>User Management</h1>

<table class="table-container">
   <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= "#{user.fetch("first_name")} #{user.fetch("last_name")} " %></td>
        <td><%= user.fetch("email") %></td>
        <td><%= user.fetch("gender") %></td>
      </tr>
    <% end %>
  </tbody>
</table>